img {
    max-width: 100%;
}



body {
    background-color: black;
    background-image: url(../img/bg-pokebola.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    color: whitesmoke;
}

.navbar{
    background-color: red;

    padding: 1em 3em 1em 3em;
}
.form-control {

 width: 50% !important;
}
 .btn {
     background-color: #ffcc03;
 }

 #pokemon-container {
     background-color: darkred;
     margin: 5%;
     border-radius: 25px;
 }
 
/* MOBILE */
@media screen and (max-width: 800px) {
    .form-control {
        width: 100% !important;
    }
  }
